	<h1> Alumnos #<%= @persona.id %>: </h1>
	<div>
		<%= @persona.nombre %>
	</div>
	<div>
		<%= @persona.direccion %>
	</div>
	<div>
		<%= @persona.telefono %>
	</div>
	<div>
		<%= @persona.universidad %>
	</div>